*.o
*.nc
BOUT.log.*
.BOUT.pid.*
BOUT.settings
*.a
*~
.DS_Store
/build*
/docs/build/*
/docs/doxygen/*
/docs/sphinx/_breathe*
__pycache__

# IDE config files
.vscode

# spack-related
spack-build*
spack.lock
.spack-env
views