[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/BOUT-dev"]
	path = external/BOUT-dev
	url = https://github.com/boutproject/BOUT-dev.git
	branch = next
[submodule "BOUT-spack"]
	path = external/BOUT-spack
	url = https://github.com/boutproject/BOUT-spack.git
