netcdf4~=1.5
boututils
boutdata @ git+https://github.com/boutproject/boutdata.git@a4b429965d15e6e2b09abc8d400ee840d01c1aac
xbout @ git+https://github.com/boutproject/xbout.git@8942a1c354096596e446d80165eabcc812d4786c
xhermes @ git+https://github.com/boutproject/xhermes.git@f29a8be90820afded0e32c00ec971d9d78ca8d4b
